<mat-card class="mat-elevation-z4 news-card">
  <mat-card-header>
    <mat-card-title>{{newsArticle.title}}</mat-card-title>
    <mat-card-subtitle>{{newsArticle.publishedAt}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{newsArticle.urlToImage}}" alt="{{newsArticle.title}}">
  <mat-card-content>
    <p>
      {{newsArticle.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-fab color="primary" class="news-article-action">
      <mat-icon>
        bookmark_border
      </mat-icon>
    </button>
    <button mat-fab color="primary" class="news-article-action">
      <mat-icon>
        share
      </mat-icon></button>
  </mat-card-actions>
</mat-card>