<main>
    <section>
    </section>
    <section class="trending-news" fxLayout.xs="column" fxLayout="row wrap" fxLayoutGap="10px" ngClass.gt-xs="ml-10">
        <news-article *ngFor="let number of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]" fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(33%-10px)" fxFlex.gt-md="0 1 calc(25%-10px)"></news-article>
    </section>
</main>


<!-- <mat-grid-list cols="1" >
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
</mat-grid-list> -->